@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins&family=Raleway&family=Roboto&family=Rubik&display=swap');


$sm :576px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #0D2F3F;
$secondary: #286F6C;
$secondary-white: #E7E7E7;
$primary-color: #0060df;
$secondary-color: #fbfbfe;
$accent-color: #fd6f53;
$font-color: #000000;
$text-rubik : "Rubik",sans-serif;
$text-raleway : "Raleway",sans-serif;
$text-poppins : "Poppins",sans-serif;
$text-roboto : "Roboto",sans-serif;
$text-baloo2 : 'Baloo 2', cursive;

