@import "../../styles/content.scss";

.container {
  .upperSection {
    display: flex;
    justify-content: space-between;
    font-family: $text-baloo2;
    font-size: 1.4rem;
    align-items: center;

    .days {
      display: flex;
      gap: 1rem;
    }
  }

  .lowerSection {
    display: flex;
    gap: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.5s ease;

    .weather_card {
      border-radius: 1.5rem;
      background: rgb(247, 244, 241);
      transition: all 0.7s ease-out;
      cursor: pointer;
      width: 28rem;
      margin: 1.5rem 0rem;

      .dayTime {
        display: flex;
        padding: 1rem 1.4rem;
        position: relative;
        justify-content: space-between;
        font-family: $text-rubik;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: aqua;
        border-radius: 1.5rem 1.5rem 0 0;
       
      }
      .days{
        align-items: center;
        text-align: center;
        font-size: 1.3rem;
      }

      .day {
        padding: 1rem;
        position: relative;
        display: block;
        font-family: $text-rubik;
        font-size: 1.4rem;
        font-weight: 600;
        background-color: aqua;
        border-radius: 1.5rem 1.5rem 0 0;
      
      }
      .weatherDetail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 0.9rem 0rem;
      }

      .temp {
        font-family: $text-baloo2;
        font-size: 3.5rem;
        font-weight: 700;
      }
      .weather_detail {
        display: flex;
        flex-direction: column;
        padding: 1rem 1.4rem;
      }
      .leftSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .description{
          font-family: $text-raleway;
          justify-content: center;
          text-align: center;
          margin: 0;
        }
      }
      img {
        width: 120px;
      }

      .rightSection {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.8rem;
        gap:1rem;
        .details {
          font-family: $text-raleway;
          color: #9c9c9c;
          margin-right: 0.3rem;
          font-size: 1rem;
        }
        .content {
          font-family: $text-poppins;
          font-size: 1.2rem;
        }
      }
    }
  }
  @media (max-width: $md) {
    .lowerSection {
      flex-direction: column;
      align-items: center;

      .weather_card{
        width: auto;
      }
    }
  }
}
